html {
    background-color: rgb(32, 32, 32);
    font-family: "roboto", sans-serif, "consolas";
    margin: 0;
    text-align: center;

    color: lightgray;
    font-size: 24px;
}

@keyframes popUp {
    from {
        opacity: 0;
    }
    to {}
}

h1 {
    font-size: 55px;
    color: lightgray;
}

#header {
    top: 0;
    border-radius: 10px;
    z-index: 100;
    margin: 20px auto;

    animation: popUp 1s;

}

.container {
    display: flex;
    flex-direction: column;
}

.radio-container {
    position: relative;
    margin: 10px auto;
    width: 15%;
    transition: 0.5s;
    color: grey;
}

.custom-radio {
    display: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #202020;
    border: 5px solid #282828;
    border-radius: 50%;
}

.custom-radio:checked + .checkmark {
    background-color: #417e44;
    border-color: #417e44;
}

.radio-container:hover .custom-radio:checked + .checkmark {
    transition: 0.4s;
    background-color: #417e44;
    border-color: #5daf61;
}

.radio-container:hover {
    transition: 0.5s;
    color: rgb(255, 255, 255);
} 

.radio-container:hover .checkmark{
    transition: 0.4s;
    border-color: grey;
} 

button {
    font-family: "roboto", sans-serif, "consolas";
    font-size: 24px;
    margin-right: 10px;
    color: lightgray;
    background-color: rgb(28, 28, 28);
    box-shadow: 10px 10px 10px rgb(20, 20, 20);
    border: 0px;
    padding: 6px 10px;
}

button:hover {
    transition: 0.3s;
    background-color: grey;
    color: white;

    animation: buttonAnim1 0.3s ease-out;
    box-shadow: 5px 5px 0px rgb(20, 20, 20);
}

@keyframes buttonAnim1 {
    from {
        box-shadow: 10px 10px 10px rgb(20, 20, 20);
    }

    to {
        box-shadow: 5px 5px 0px rgb(20, 20, 20);
    }
}

button:not(:hover) {
    animation: buttonAnim2 0.3s ease-out;
}

@keyframes buttonAnim2 {
    from {
        box-shadow: 5px 5px 0px rgb(20, 20, 20);
    }

    to {
        box-shadow: 10px 10px 10px rgb(20, 20, 20);
    }
}

.limit {
    font-family: "roboto", sans-serif, "consolas";
    font-size: 24px;
    margin-bottom: 12px;
    color: lightgray;
}

.limit2 {
    font-family: "roboto", sans-serif, "consolas";
    font-size: 24px;
    margin-bottom: 12px;
    color: grey;
    text-align: center;
}

.limit2:focus {
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

p {
    font-size: 24px;
    margin: 10px;
    display: inline;
}

img {
    position: relative;
    width: 15vw;
    height: 20vw;
    object-fit: cover;
    margin: 25px;
    border-radius: 10px;
    transition: opacity 0.5s ease-out;
}

.artist-container:hover img{
    animation: hoverIMG 0.4s ease-out;
    animation-fill-mode: forwards;
    opacity: 0.3;
    filter: blur(1px);
}

@keyframes hoverIMG {
    from {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }

    to {
        transform: scale(1.1);
        opacity: 0.3;
        filter: blur(1px);
    }
}

.artist-container:not(:hover) img{
    animation: unhoverIMG 0.3s ease-out;
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
}

@keyframes unhoverIMG {
    from {
        transform: scale(1.1);
        opacity: 0.3;
        filter: blur(1px);
    }

    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}

.artist-container {
    position: relative;
    display: inline-block;
}

.artist-container p {
    color: white;
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 80%;
    margin: 0;
    padding: 10px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-out;
    pointer-events: none;
}

.artist-container:hover p {
    animation: hoverP 1s ease-out;
    visibility: visible;
    opacity: 1;
}

@keyframes hoverP {
    from {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

